## Run online on Julie's Laptop

In [25]:
import pandas as pd
import numpy as np
import os

In [26]:
path = "C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data"
# get the name of the documents stored in path
names = os.listdir(path)
names

['autres',
 'Cambodge_dataset_30_janv.csv',
 'Liechtensteindataset_2_fevr.csv',
 'Liechtensteindataset_fin_1_fevr.csv',
 'Liechtensteindataset_fin_31_janv.csv',
 'Liechtensteindataset_jusqua_espagne_1_fevr.csv',
 'Liechtensteindataset_jusqua_rome_afrique_du_sud_31_janv.csv',
 'Liechtenstein_dataset_fin.csv',
 'Luxembourg_dataset.csv',
 'Macao_dataset_2_fevr.csv',
 'Macao_dataset_sans_2_fevr.csv',
 'Monaco_dataset_fin_2_fevr.csv',
 'Monaco_dataset_jusqua_riga_2_fevr.csv',
 'PIB',
 'Qatardataset.csv',
 'to concate']

In [27]:
names.remove('autres')
names.remove('PIB')
names.remove('to concate')

In [30]:
# concatenate all the csv files in one
df = pd.concat([pd.read_csv(os.path.join(path, name)) for name in names]).reset_index()
df= df.drop(columns=['index'])
df= df.drop(columns=['Unnamed: 0'])
df.drop_duplicates()
df

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",436 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
1,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",765 €,13h 45m,11:25,09:10,Direct,Air France
2,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",739 €,19h 20m,12:30,15:50,1 escale,Thai Airways
3,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",799 €,18h 55m,14:25,17:20,1 escale,Emirates
4,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",822 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
...,...,...,...,...,...,...,...,...,...,...
2575,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 945 €,22h 35m,12:15,20:50,1 escale,Cathay Pacific
2576,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 312 €,33h 35m,12:30,08:05,3 escales,Plusieurs compagnies
2577,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 303 €,34h 10m,13:20,09:30,3 escales,Plusieurs compagnies
2578,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 292 €,34h 40m,14:15,10:55,2 escales,Plusieurs compagnies
2579,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 879 €,23h 55m,21:00,06:55,1 escale,Korean Air